.contenedor-y {
  width: 200px;
  height: 200px;
  background-color: lightgoldenrodyellow;
  overflow-y: auto;
}

.contenedor-x {
  width: 200px;
  height: 200px;
  background-color: lightgoldenrodyellow;
  white-space: nowrap;
  overflow-x: auto;
  margin-top: 50px;
}