/* Ajusta los márgenes y el espaciado para que los elementos estén distribuidos uniformemente en la página. */

/* Los párrafos deben tener un tamaño de fuente de 16 px y un color de texto gris.  */
p {
  font-size: 16px;
  color: grey;
  text-align: center;
  margin-bottom: 3px;
}

/* La imagen debe tener un borde sólido de 2 px de color negro. */
img {
  border: 2px solid black;
  
  display: block;
  margin: auto;
  margin-bottom: 40px;
}





