.contenedor {
  width: 800px;
  height: 800px;
  border: 1px solid black;
  position: relative;
}

/* Aplica position: static a uno de los elementos y explica su comportamiento por defecto. */
.static {
  position: static;
  border: 1px solid aquamarine;
  width: 60px;
}

/* Usa position: relative para desplazar un elemento desde su posición original. */
.relative {
  position: relative; top: 0px; right: 0px;
  border: 1px solid red;
  width: 60px;
}
/* Aplica position: absolute para posicionar un elemento respecto al contenedor principal. */
.absolute {
  position: absolute; top: 0px; right: 0px;
  border: 1px solid yellow;
  width: 60px;
}
/* Usa position: fixed para crear un elemento que permanezca fijo en la ventana del navegador mientras se desplaza el resto del contenido. */
.fixed {
  position: fixed;
  border: 1px solid green;
  width: 60px;
}
/* Usa position: sticky para crear un elemento que permanezca anclado a alguna zona de la ventana aunque se haga scroll */
.sticky {
  position: sticky; top: 0px; right: 0px;
  border: 1px solid purple;
  width: 60px;
}