/* Las cards deben mostrarse en una fila
El espacio entre ellas debe ser uniforme
Todas las cards deben tener el mismo tamaño
El contenedor debe adaptarse al ancho disponible */
.cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

.card {
    display: flex;
    width: 150px;
    height: 200px;
    background-color: aquamarine;
    justify-content: center;
    border-radius: 10px;
}

