// Requisitos CSS
// Definir una cuadrícula con filas y columnas

// El menú ocupa toda la altura lateral

// El contenido principal ocupa la mayor parte del espacio

// Footer ocupa todo el ancho inferior

.dashboard {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;

    .header {
        grid-column: 1 / -1;
        background-color: beige;
        padding: 20px;
    }

    .menu {
        height: 100vh;
        background-color: blanchedalmond;
    }

    .contenido {
        background-color: azure;
    }
    .extra {
        grid-column: 1 / -1;
        background-color: chocolate;
        padding: 20px;
    }

    .footer {
        grid-column: 1 / -1;
        background-color: beige;
        padding: 20px;
    }
}