/* Usa el combinador de descendiente para que todos los párrafos dentro de .container tengan texto azul. */
.container p {
    color: blue;
}

/* Aplica el combinador de hijo directo para que solo el <h2> dentro de .container sea rojo y no el de dentro de <section>. */
.container > h2 {
    color: red;
}

/* Usa el combinador de hermano adyacente para que el primer <p> que sigue a un <h2> sea verde. */
.container h2+p {
    color: green;
}

/* Aplica el combinador de hermano general para que todos los párrafos después de .intro tengan un fondo amarillo. */
.intro ~ p{
    background-color: yellow;
}

/* Usa un selector múltiple para aplicar el mismo estilo (margen inferior de 10px) a los elementos <h2> y .intro. */
h2, .intro {
    margin-bottom: 10px;
}

/* Aplica un selector dependiente para que cualquier <p> dentro de .container que también tenga la clase .intro tenga un color de fondo gris. */
.container p.intro {
    background-color: grey;
} 