.cuadrado1 {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    z-index: 1;
}
.cuadrado2 {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    top: -50px;
    left: 50px;
    z-index: 2;
}
.cuadrado3 {
    width: 100px;
    height: 100px;
    background-color: green;
    position: relative;
    top: -100px;
    left: 100px;
    z-index: 3;
}