
/* selector de id */
#subtitulo {
    color: purple;
    font-size:150%;
}


/* selector de clase */
.importante {
    background-color: rgb(226, 226, 226);
}


/* selector universal */
* {
    margin: 0%;
    padding: 0%;
}

/* selector de atributo */
[type="password"] {
    border: 2px solid blue;
}

/*selector de elemento*/
li {
    color: red;
}
