/* Primera Sección:
Aplica un margen uniforme de 20px a todos los lados.
Cambia el fondo para que sea visible la separación entre el contenido y otros elementos. */

.sec1 {
  margin: 20px;
  background-color: aqua;
}

/* Segunda Sección:
Define márgenes diferentes para cada lado:
10px arriba, 20px derecha, 30px abajo y 40px izquierda.
Cambia el color de fondo para resaltar la diferencia. */
.sec2 {
  margin: 10px 20px 30px 40px;
  background-color: red;
}


/* Tercera Sección (Botón):
Utiliza margin: auto para centrar el botón horizontalmente dentro de su contenedor.
Añade un margen superior de 50px para separarlo del párrafo anterior. */
.sec3 {
  margin-top: 50px;
  margin: auto;
  border: 1px solid red;
}
